/* Write your CSS here */
.header-container {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
}
.icons-container {
  width: 20%;
  display: flex;
  justify-content: space-around;
}

.profile-pic {
  margin-right: 20px;
}
